/* HEADER */

.main-header {
	position: relative;
}

/* Logo */

.main-header .logo {
	width: 321px;
	margin: 0 auto 0 auto;
}

/* Phone */

.main-header .phone {
	padding-left: 100px;
	position: absolute;
	top: 103px;
	left: -43px;;
	font-family: Ubuntu;
}

.main-header .phone .phone-img {
	position: absolute;
	top: 0;
	left: 130px;
}

.main-header .phone .phone-number {
	margin-top: 20px;
	font-size: 26px;
	margin-left: 160px;
}

/* Work hours */

.main-header .work-hours {
	padding-left: 100px;
	position: absolute;
	top: 42px;
	left: 813px;
}

.main-header .work-hours .work-hours-img {
	position: absolute;
	top: 0;
	left: 0;
}

.main-header .work-hours .work-hours-time {
	margin-top: 20px;
	font-size: 26px;
}

/* Email */

.main-header .email {
	padding-left: 100px;
	position: absolute;
	top: 152px;
	left: 820px
}

.main-header .email .email-img {
	position: absolute;
	top: -7px;
	left: -9px;
}

.main-header .email .email-text {
	margin-top: 11px;
	font-size: 26px;
}

/* Main menu */

.main-header .main-menu ul {
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 0;
}

.main-header .main-menu ul li {
	display: inline-block;
	font-size: 20px;
	padding: 5px 10px;
	text-align: center
}

.main-header .main-menu ul li a {
	text-decoration: none;
	color: #888;
}

.main-header .main-menu ul li a:hover {
	color: #333;
}


.main-header .main-menu ul li:after {
	content: "/";
	margin: 0 20px;
}

.main-header .main-menu ul li:last-child:after {
	display: none;
}

/* Content */

main .content .aside-col {
	width: 543px;
	float: left;
	padding-left: 30px;
	padding-top: 30px;
}

main .content .main-col {
	margin-left: 543px;
	padding-top: 60px;
}

/* Minor-nav */

.minor-nav {
	width: 440px;
	background: #336699;
	padding: 40px 0;
	margin: 0;
}

.minor-nav li {
	display: block;
	line-height: 40px;
}

.minor-nav li a {
	display: block;
	width: 360px;
	height: 40px;
	padding-left: 30px;
	box-sizing: border-box;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid white;
}

.minor-nav li a:hover {
	background: #6699cc;
}


/* Button */

.button-aside-btn {
	width: 543px;
}

 button .aside-btn2 {
	display: block;
}

.button-aside-btn img {
	padding-left: 42px;
	padding-right: 42px;
 }

/* Content-slider */

main .content .main-col .slider {
	padding: 6px;
	background: #cccccc;
	width: 640px;
	margin: 0 auto;
	position: relative;
}

main .content .main-col .slider .outimg1 {
	position: absolute;
	top: 219px;
	right: -38px;
}

/* main .content .main-col .slider .outimg2 {
	margin-left: -38px;
	margin-top: 219px;
} */

/* Text */

main .content .main-col ul {
	padding-left: 18px;
}

main .content .main-col h2 {
	text-align: center;
}

/* Footer */

.footermenu {
	background: #666666;
	height: 115px;
}

.footermenu-menu {
	display: block;
	margin: 0;
	padding: 0;
	text-align: right;
	font-size: 0;
}


.footermenu-menu li {
	display: inline-block;
	font-size: 15px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: right;
	color: white;
	border-bottom: 1px solid #999999;
}

.footerinfo {
	color: white;
	width: 543px;
	float: left;
	padding-left: 86px;
}

.footerinfolist li {
	display: block;
	text-decoration: none;
}

.footerinfolist2 li {
	display: block;
	text-decoration: none;
}

.footerinfolist{
	float: left;
	width: 115px;
}

.footerinfo-text {
	background: #666666;
	color: white;
	height: 115px;
	text-align: right;
	padding-right: 30px;
}

/* More Infor */

.footerinfo-important {
	background: #333333;
	color: white;
	text-align: center;
	padding-bottom: 2px;
}

