/* html {
	background: url(../pattern.png) 50% 0;
} */

/*
body {
	opacity: .5;
}
*/

/* FONTS */

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu/Ubuntu-BoldItalic.ttf);
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu/Ubuntu-MediumItalic.ttf);
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu/Ubuntu-Italic.ttf);
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: Idealist Sans Sc;
	src: url(../fonts/Idealist Sans Sc/Idealist-Sc.ttf);
	font-weight: 400;
}
@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu/Ubuntu-LightItalic.ttf);
	font-weight: 300;
	font-style: italic;
}


@font-face {
	font-family: Idealist Sans Sc;
	src: url(../fonts/Idealist Sans Sc/Idealist-Sc.ttf);
	font-weight: 400;
}

@font-face {
	font-family: Idealist Sans Sc;
	src: url(../fonts/Idealist Sans Sc/Idealist-Light-Sc.ttf);
	font-weight: 300;
}


@font-face {
	font-family: Myriad Pro;
	src: url(../fonts/Myriad Pro/MyriadPro-Bold.otf);
	font-weight: 700;
}

@font-face {
	font-family: Myriad Pro;
	src: url(../fonts/Myriad Pro/MyriadPro-BoldCond.otf);
	font-weight: 700;
}

/* COMMON */

body{
	margin: 0px;
	background-image: url(../img/glass-building.jpg);
	background-size: cover;
}

.wrapper {
	width: 1280px;
	background: white;
	margin: 0 auto 0 auto;
}

/* Brands */

.brands ul {
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 0;
}

.brands ul li {
	display: inline-block;
	font-size: 20px;
	padding: 29px 9px;
	text-align: center
}

.brands ul li img {
	height: 25px;
}

/* HEADER */

.main-header {
	position: relative;
}

/* Logo */

.main-header .logo {
	width: 321px;
	margin: 0 auto 0 auto;
}

/* Phone */

.main-header .phone {
	padding-left: 100px;
	position: absolute;
	top: 103px;
	left: -43px;;
	font-family: Ubuntu;
}

.main-header .phone .phone-img {
	width: 65px;
	float: left;
	top: 17px;
	left: 8px;
}

.main-header .phone .phone-number {
	margin-top: 20px;
	font-size: 26px;
}

/* Work hours */


.main-header .work-hours {
	padding-left: 100px;
	position: absolute;
	top: 42px;
	left: 813px;
}

.main-header .work-hours .work-hours-img {
	position: absolute;
	top: 0;
	left: 0;
}

.main-header .work-hours .work-hours-time {
	margin-top: 20px;
	font-size: 26px;
}

/* Email */

.main-header .email {
	padding-left: 100px;
	position: absolute;
	top: 152px;
	left: 820px
}

.main-header .email .email-img {
	position: absolute;
	top: -7px;
	left: -9px;
}

.main-header .email .email-text {
	margin-top: 11px;
	font-size: 26px;
}

/* Main menu */

.main-header .main-menu ul {
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 0;
}

.main-header .main-menu ul li {
	display: inline-block;
	font-size: 20px;
	padding: 5px 10px;
	text-align: center
}

.main-header .main-menu ul li a {
	text-decoration: none;
	color: #888;
}

.main-header .main-menu ul li a:hover {
	color: #333;
}


.main-header .main-menu ul li:after {
	content: "/";
	margin: 0 20px;
}

.main-header .main-menu ul li:last-child:after {
	display: none;
}

/* Content */

main .content .aside-col {
	width: 543px;
	float: left;
}

main .content .main-col {
	margin-left: 543px;
}

/* Minor-nav */

.minor-nav {
	width: 440px;
	background: #3366cc;
	padding: 40px 0;
	margin: 0;
}

.minor-nav li {
	display: block;
	line-height: 40px;
}

.minor-nav li a {
	display: block;
	width: 360px;
	height: 40px;
	padding-left: 30px;
	box-sizing: border-box;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid white;
}

.minor-nav li a:hover {
	background: #08f;
}

/* House*/

.house {
	background: #ffffff;
	height: auto;
	width: 375px;
	margin-left: 25px;
	margin-top: 25px;
	border-style: outset;
	border-color: #336666;
	border-width: 1px;
	padding-left: 25px;
}

/* Technical*/

.technical {
	background: #ffffff;
	height: auto;
	width: 375px;
	margin-left: 25px;
	margin-top: 25px;
	border-style: outset;
	border-color: #336666;
	border-width: 1px;
	padding-left: 25px;
}

/* Content-picture */

main .content .main-col .slider {
	padding: 6px;
	background: #cccccc;
	width: 640px;
	margin: 0 auto;
}

main .content .main-col .slider .img {

}

main .content .main-col ul {
	padding-left: 18px;
}

main .content .main-col h2 {
	text-align: center;
}